@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-family: "Inter", sans-serif;
  background: rgb(4, 13, 24);
  color: white;
}

button {
  cursor: pointer;
  font-family: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

/* -------------------------------------- MAX 918 PX -------------------------------------- */

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 25px;
  border-bottom: solid rgb(12, 15, 31) 1px;
}

.nav-logo {
  width: clamp(50px, 30vw, 125px);
}

.nav-links {
  display: none;
}

.nav-action-buttons {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav-get-started {
  background: rgb(88, 36, 225);
  border: solid rgb(113, 56, 242) 1px;
  color: white;
  padding: 10px 20px;
  font-size: 12px;
  border-radius: 7px;
}

.nav-menu-button {
  background: transparent;
  border: none;
}

.nav-hamburger-menu {
  width: 25px;
  height: 25px;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.hero-badge {
  background: rgb(20, 15, 54);
  color: rgb(212, 186, 247);
  padding: 5px 10px;
  border-radius: 30px;
}

.hero-powered-icon {
  width: 15px;
  object-fit: cover;
}

.hero-title {
  text-align: center;
  font-size: clamp(40px, 10vw, 65px);
  margin-block: 6px;
}

.hero-content {
  text-align: center;
  max-width: 600px;
  font-size: clamp(17px, 4vw, 18px);
  line-height: 1.5;
  color: rgb(187, 189, 204);
}

.hero-buttons {
  display: flex;
  flex-direction: column;
  margin: 30px 0 10px;
  gap: 10px;
}

.hero-buttons button {
  width: clamp(300px, 50vw, 400px);
  height: 45px;
  font-size: 19px;
  border-radius: 10px;
  color: white;
}

.hero-button-start-building {
  background-color: rgb(88, 36, 225);
  border: solid rgb(113, 56, 242) 1px;
}

.hero-button-learn-more {
  background-color: transparent;
  border: solid rgb(83, 81, 111) 2px;
}

.hero-image {
  width: 90%;
  border: solid rgb(197, 148, 239) 1px;
  border-radius: 20px;
  box-shadow:
    0 0 40px rgb(124, 58, 237, 0.6),
    0 30px 80px rgb(0, 0, 0, 0.6);
}

.features {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block: 25px;
  margin-block: 40px;
  background: rgb(8, 16, 27);
  border-top: solid rgb(12, 20, 32) 1px;
  border-bottom: solid rgb(12, 20, 32) 1px;
}

.features-span {
  color: rgb(141, 73, 236);
}

.features-title {
  font-size: clamp(30px, 8vw, 50px);
  margin-block: 10px;
}

.features-content {
  font-size: clamp(14px, 4vw, 21px);
  color: rgb(175, 183, 197);
  margin-bottom: 20px;
}

.features-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.features-card {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(13, 21, 33);
  border: solid rgb(16, 25, 37) 1px;
  border-radius: 15px;
  width: 90%;
  height: 100px;
  margin-block: 5px;
  gap: 10px;
  padding-inline: 10px;
}

.features-card-icon {
  width: clamp(60px, 10vw, 90px);
}

.features-card-title {
  font-size: clamp(10px, 4vw, 25px);
  margin-bottom: 5px;
}

.features-card-content {
  font-size: clamp(11px, 1.8vw, 14px);
  width: 95%;
  color: rgb(175, 183, 197);
}

.features-card-anchor {
  display: none;
}

.pricing {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
}

.pricing-span {
  color: rgb(141, 73, 236);
}

.pricing-title {
  font-size: clamp(30px, 8vw, 50px);
  margin-block: 10px;
}

.pricing-content {
  font-size: clamp(14px, 4vw, 21px);
  color: rgb(175, 183, 197);
  margin-bottom: 20px;
}

.pricing-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  gap: 10px;
}

.pricing-card {
  width: 90%;
  border: solid rgba(26, 35, 52) 1px;
  padding: 10px 15px;
  border-radius: 15px;
}

.pricing-card-type {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
  border-bottom: solid rgba(26, 35, 52) 1px;
  gap: 10px;
}

.pricing-card-icon {
  width: clamp(60px, 10vw, 90px);
}

.pricing-card-name {
  display: flex;
  justify-content: space-between;
  width: 90%;
}

.pricing-card-title,
.pricing-card-price {
  font-size: clamp(10px, 4vw, 25px);
}

.pricing-card-content,
.pricing-card-period {
  font-size: clamp(11px, 1.8vw, 14px);
  color: rgb(175, 183, 197);
}

.pricing-card-benefits-list {
  list-style-type: none;
  padding: 20px;
  font-size: clamp(11px, 1.8vw, 14px);
  color: rgb(175, 183, 197);
}

.pricing-card-benefits-list li {
  display: flex;
  align-items: center;
  gap: 5px;
}

.pricing-card-benefits-list-tick-icon {
  width: 20px;
}

.pricing-card-get-started {
  width: 100%;
  background: rgb(88, 36, 225);
  height: 40px;
  border-radius: 15px;
  color: white;
}

@media (min-width: 918px) {
  .nav-links {
    display: flex;
    list-style-type: none;
    gap: 2vw;
  }

  .nav-hamburger-menu {
    display: none;
  }

  .features-cards {
    flex-direction: row;
    justify-content: space-around;
    gap: 20px;
  }

  .features-card {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: 28vw;
    min-height: min-content;
    padding-inline: 30px;
    padding-block: 20px;
  }

  .features-card-title {
    font-size: clamp(20px, 20vw, 30px);
  }

  .features-card-anchor {
    display: block;
    color: rgb(172, 135, 205);
    text-decoration: none;
  }
}

@media (min-width: 1100px) {
  .pricing-cards {
    flex-direction: row;
    justify-content: center;
  }

  .pricing-card {
    width: 28vw;
  }
}

@media (min-width: 1318px) {
  .hero {
    flex-direction: row;
    justify-content: space-around;
    padding: 50px;
  }

  .hero-text {
    display: block;
  }

  .hero-title {
    text-align: left;
  }

  .hero-content {
    text-align: left;
    width: 85%;
    font-size: clamp(17px, 5vw, 25px);
  }

  .hero-image {
    width: 55vw;
  }

  .most-popular-sub-type {
    position: relative;
    border: solid rgb(88, 36, 225) 1px;
    padding-block: 20px;
  }

  .most-popular-sub-type::before {
    content: "Most popular";
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: rgb(113, 56, 242);
    border-radius: 15px;
    padding: 5px 10px;
  }
}

@media (min-width: 1600px) {
  .hero-buttons {
    flex-direction: row;
    gap: 20px;
  }

  .hero-image {
    width: 40vw;
  }
}
